.main-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 260px;
  top: 50px;
  width: 90%;
  height: calc(100vh - 90px);
}
.main-wrapper > div {
  flex-grow: 1;
  width: 100%;
}
