/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  color: #009df8;
}

.icon-size {
  font-size: 26px;
}

.icon-navbar {
  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.error-message {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: red;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mr1 {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-snack-bar-container.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar-danger {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar-warning {
  background-color: #ff9800 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar-info {
  background-color: #2196f3 !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.snackbar-success .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.mat-mdc-snack-bar-container.snackbar-danger .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.mat-mdc-snack-bar-container.snackbar-warning .mdc-snackbar__surface {
  background-color: #ff9800 !important;
}

.mat-mdc-snack-bar-container.snackbar-info .mdc-snackbar__surface {
  background-color: #2196f3 !important;
}

.mat-mdc-menu-panel {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mat-mdc-menu-item {
  color: black !important;
}

.mat-mdc-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.mat-mdc-select-panel {
  background-color: white !important;
  color: black !important;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.mat-mdc-option {
  color: black !important;
  font-size: 14px;
  padding: 10px 16px;
}

.mat-mdc-option:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.mat-mdc-option.mat-mdc-option-active {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: black !important;
}

.mat-mdc-option-ripple {
  color: rgba(0, 0, 0, 0.1);
}

