/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  color: #009df8;
}

.icon-size {
  font-size: 26px;
}

.icon-navbar {
  color: white;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.error-message {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: red;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mr1 {
  margin-right: 10px;
}
.pointer {
  cursor: pointer;
}
